.stroke-text {
  -webkit-text-stroke: 2px #e6e6e6;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* slider styles */
.slide {
  transition: transform 1.5s ease, opacity 1.5s ease;
}

.active-slide .image {
  transform: scale(1);
  transition: 1.3s ease;
}

.inactive-slide .image {
  transform: scale(1.5);
  transition: 1.3s ease;
}

.active-slide .content {
  transform: scale(1);
  opacity: 1;
}

.inactive-slide .content {
  transform: scale(0.7);
  opacity: 0.1;
}

.slick-slide {
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  .slick-slide {
    padding: 0;
  }
}
